html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
}
nav{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgb(191, 183, 183);
    position: fixed;
}
label.logo{
    padding: 0px 110px;
    cursor: pointer;
}
.check-btn{
    float: right;
    line-height: 80px;
    color: #5E02BB;
    padding-right: 30px;
    font-size: 30px;
    display: none;
}
#check{
    display: none;
}
nav ul{
    float: right;
    padding: 0 80px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 40px;
}
nav ul li a{
    font-size: 20px;
    color: #5E02BB;
}
.container-1{
    background-color: #ffffff;
    width: 100%;
    height: 770px;
    padding-top: 220px;
}
.content-1 .box{
    width: 550px;
    height: 390px;
    border-radius: 10px;
    float: right;
    background-color: #FCF8FF;
    margin-right: 120px;
}
.box .video1 video{
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 50px;
    object-fit: cover;
    cursor: pointer;
}
.box .video2 video{
    border-radius: 20px;
    object-fit: cover;
    margin-left: 50px;
    margin-top: 130px;
    cursor: pointer;
}
.content-1{
    margin-left: 120px;
    font-size: 16px;
}
.content-1 h1{
    margin-top: 10px;
}
.container-1 .button-1 h2{
    color: #ffffff;
    border-bottom-left-radius: 10px;
    border: 2px solid ;
    width: 220px;
    height: 45px;
    background-color: #7700FF;
    text-align: center;
    font-size: 27px;
}
.container-1 .button-1{
    margin-top: 30px;
}
.container-1 .button-2 h2{
    color: #7700FF;
    font-weight: lighter;
    border: 1px solid #7700FF;
    width: 220px;
    height: 45px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 19px;
    padding: 7px 0px 10px 10px;
}
.container-1 .button-2{
    margin-top: 30px;
    margin-left: 15px;
}
.container-1 .button-1 :hover{
    background-color: #5608af;
    transition: 0.5s;
}
.container-1 .connections hr{
    height: 2px;
    width: 100px;
    margin-top: 42px;
    color: #281C34;
}
.connections h4{
    margin-top: 30px;
    margin-left: 10px;
    font-weight: lighter;
    color: #281C34;
}
.content-1 .some-links{
    width: 220px;
    height: 40px;
    margin-left: 20px;
    background-color: #FCF8FF;
    border-radius: 5px;
    margin-top: 20px;
}
.button-2 i:hover{
    color: #5608af;
    transition: all .5s ease;
}


.container-2{
    background-color: #FCF8FF;
    width: 100%;
    height: 1300px;
}
.content-2{
    margin-left: 120px;
}
.content-2 h1{
    color: rgb(0, 0, 0);
    padding-top: 80px;
    font-size: 35px;
}
.container-2 .image-1{
    margin-left: 110px;
    margin-top: 60px;
}
.container-2 .image-2{
    margin-left: 100px;
    margin-top: 70px;
}
.content-3{
    margin-left: 120px;
    margin-top: 70px;
}
.content-3 h1{
    font-size: 35px;
}
.transitions-1{
    margin-top: 60px;
    margin-left: 120px;
}
.transitions-2{
    margin-top: 60px;
    margin-left: 120px;
}


.container-3{
    width: 100%;
    height: 300px;
    background-color: #ffffff;
}
.container-3 h1{
    text-align: center;
    padding-top: 70px;
    color: #281C34;
    font-weight: lighter;
}
.container-3 h2{
    display: inline-flex;
    color: #F0E0FC;
    font-size: 40px;
    margin-top: 40px;
    overflow: hidden;
}
.container-3 h2 :hover{
    color: #281C34;
    transition: all .5s;
    cursor: pointer;
}



.container-4{
    width: 100%;
    height: 700px;
    background-color: #FCF8FF;
}
.container-4 h1{
    color: #281C34;
    margin-left: 120px;
    padding-top: 80px;
    font-size: 35px;
}
.container-4 h2{
    color: rgb(84, 84, 84);
    font-weight: lighter;
    margin-top: 35px;
    margin-left: 10px;
}
.container-4 .card-1{
    width: 320px;
    height: 300px;
    margin-top: 100px;
    background-color: #ffffff;
    margin-left: 120px;
    border-radius: 20px;
}
.container-4 .card-2{
    width: 320px;
    height: 300px;
    margin-top: 100px;
    background-color: #ffffff;
    margin-left: 160px;
    border-radius: 20px;
}
.container-4 .card-3{
    width: 320px;
    height: 300px;
    margin-top: 100px;
    background-color: #ffffff;
    margin-left: 160px;
    border-radius: 20px;
}
.card-1 img{
    margin-left: 20px;
    margin-top: 35px;
}
.card-2 img{
    margin-left: 20px;
    margin-top: 40px;
}
.card-3 img{
    margin-left: 20px;
    margin-top: 40px;
}


.container-5{
    width: 100%;
    height: 840px;
    background-color: #FFFFFF;
    border: 1px #707070;
}
.content-4{
    margin-left: 120px;
    padding-top: 100px;
}
.content-4 h1{
    color: #281C34;
    font-size: 35px;
}
.content-4 p{
    color: #281C34;
    font-size: 20px;
    letter-spacing: 1px;
}
.content-4 .form{
    width: 450px;
    height: 420px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.form .inputBox input::placeholder{
    color: #281C34;
    font-size: 15px;
}
.form .inputBox{
    margin-top: 30px;
    margin-left: 30px;
}
.form .inputBox input{
    width: 380px;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1.5px solid #5E02BB;
    letter-spacing: 1px;
    background-color: #ffffff;
}
.form .inputBox [placeholder="Message"]{
    padding-bottom: 100px;
}
.form .inputBox button{
    width: 130px;
    border: none;
    background-color: #7700FF;
    border-radius: 5px;
    letter-spacing: 1px;
    height: 38px;
    color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    padding-left: 7px;
}
.form .inputBox :hover{
    background-color: #FCF8FF;
    color: #5E02BB;
    transition: all ease 0.5s;
    border: 1px solid #5E02BB;
}


.container-6{
    width: 100%;
    height: 370px;
    background-color: #FCF8FF;
}
.container-6 hr{
    margin-left: 65px;
    width: 280px;
}
.container-6 p{
    margin-left: 65px;
}
.container-6 h2{
    margin-top: 70px;
    font-weight: lighter;
}
.container-6 .row{
    display: inline-flex;
    margin-left: 120px;
    margin-top: 100px;
}
.single-widgets-two{
    margin-inline: 50px;
}
.container-6 h4{
    color: rgba(0, 0, 0, 0.717);
    font-size: 20px;
}
.line{
    position: absolute;
    margin-top: 10px;
    width: 8%;
    height: 3px;
    background-color: #730cda;
}
.lines{
    position: absolute;
    margin-top: 10px;
    width: 11%;
    height: 3px;
    background-color: #730cdac0;
}
.container-6 .single-widgets-two a{
    color: grey;
}
.container-6 ul li{
    margin-top: 16px;
}
.container-6 ul li a{
    transition: all 0.3s ease;
}
.container-6 ul li a:hover{
    padding-left: 8px;
    color: #730cda;
}




.container-7{
    height: 100px;
    width: 100%;
    background-color: #FFFFFF;
}
.copyright-text{
    text-align: center;
    justify-content: center;
}
.copyright-text p{
    font-size: 17px;
    color: #281C34;
    font-weight: bold;
    padding-top: 40px;
}
#progress{
    background-color: #F0E0FC;
    position: fixed;
    bottom: 60px;
    right: 40px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #FFFFFF;
}
#progress-value{
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #FFFFFF;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 30px;
    color: #7700FF;
}
#progress:hover{
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate{
    to {transform: rotate(2520deg);}
}






@media(max-width: 962px){
    nav{
        width: 100%;
    }
    .check-btn{
        display: block;
        float: right;
        margin-left: 20px;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        background-color: #5E02BB;
        position: fixed;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: .5s all ease;
    }
    #check:checked ~ ul{
        left: 0;
    }
    nav ul li{
        display: block;
        text-align: center;
    }
    nav ul li a{
        color: #FFFFFF;
    }
    nav a:hover{
        color: rgb(168, 164, 164);
    }
    label.logo{
        padding: 0;
        margin: 5px 20px;
    }
}

@media(max-width: 300%){
    nav ul li{
        font-size: 16px;
    }
}

