body{
  background-color: lightskyblue;
}
.bg-light{
    background-color: #FFFFFF !important;
    box-shadow: 0px 0px 10px 0px rgb(191, 183, 183);
}
.bg-pink{
  background-color: pink;
}
.bg-green{
  background-color: green;
}
.container.theme-2{
  background-color: greenyellow;
}
.container{
    background-color: #FFFFFF;
}
.nav-sticky{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
     z-index: 100;
     }
.nav-link{
    color: #7700FF;
}
.navbar-light .navbar-toggler{
    border-color: #7700FF;
}
button:focus {
    outline: 1px dotted;
    outline: 5px auto #7700FF;
}
.navbar-light .navbar-toggler-icon{
    background-image: unset;
}
.navbar-toggler-icon{
    color: #7700FF;
}
.fa.fa-bars{
    font-size: 20px;
    padding-top: 4px;
}
.nav-link.active{
  background-color: #7700FF;
  color: #ffffff !important;
  border-radius: 5px;
}
.nav-link{
    color: #7700FF !important;
}
.card{
    background-color: #FCF8FF;
    height: 440px;
    border-radius: 10px;
    border: none;
}   
.primary{
    color: #7700ff;
}
.secondary{
    color: rgb(84, 84, 84);
}
video.video1{
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 30px;
    object-fit: cover;
    cursor: pointer;
}
video.video2{
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 40px;
}
.row.mt-2{
    margin-top: 220px !important;
}
.link-btn{
    color: #ffffff;
    background-color: #7700FF;
    border-bottom-left-radius: 10px;
    width: 220px;
    height: 45px;
    border: none;
    font-size: 17px;
}
.side-btn{
    background-color: #ffffff;
    color: #7700FF;
    border: 1px solid #7700FF;
    width: 220px;
    height: 45px;
    font-size: medium;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 17px;
}
.some-links{
    width: 160px;
    height: 40px;
    background-color: #FCF8FF;
    border-radius: 5px;
    margin-left: 30px;
    text-align: center;
}
.some-links a{
    margin-inline: 10px;
    padding-top: 8px;
}
.theme-1{
  background-color: #7700FF;
  background-repeat:no-repeat;
  background-position:inherit;
  background-size:auto;
}






@media(max-width: 992px){
    .nav-link.active{
      background-color: unset;
      color: #7700ff !important;
    }
    .link-btn{
        width: 150px;
    }
    .side-btn{
        width: 150px;
        font-size: 13px;
    }
  }
      @media(max-width: 768px){
        .row.mt-2{
          margin-top: 160px !important;
        }
        .card{
            margin-top: 20px;
        }
        .container{
          background-color: unset;
        }
    }
    @media(max-width: 475px){
      .link-btn{
        width: 185px;
      }
      .side-btn{
        width: 185px;
        font-size: 16px;
      }
      .video2{
        margin-top: 30px;
      }
    }
    @media(max-width: 407px){
      .link-btn{
        width: 170px;
        font-size: 1rem;
      }
      .side-btn{
        width: 180px;
      }
    }
    @media(max-width: 385px){
      .link-btn{
        width: 140px;
        height: fit-content;
      }
      .side-btn{
        width: fit-content;
        height: fit-content;
      }
        
    }
    @media(max-width: 352px){
      .link-btn{
        width: 120px;
        height: fit-content;
      }
      .side-btn{
        width: auto;
        height: fit-content;
      }
      .some-links{
        width: fit-content;
      }
    }